//Colors

$color-iron: #CBD6DC;
$color-gainsboro: #d8dbdd;
$color-greyish-blue: #657BA6;
$color-white: #ffffff;
$color-black: #000000;
$color-aqua-blue: #00D8BC;
$color-hit-gray: #A4B2BA;
$color-downy: #59D3BC;
$color-silver-chalice: #adadad;
$color-light-grey: #d5d9da;
$color-quill-grey: #D8D8D8;
$color-slate-grey: #78848A;
$color-jet-grey: #647178;
$color-davy-grey: #525252;
$color-alice-blue: #F0F8F9;
$color-down-pink: #ebebec;
$color-ghost-white: #F7F9FA;
$color-grey-shade: #aaa5a552;
$color-geyser: #dfdedf;
$color-metallic-silver: #C3C9CB;
$color-carbon-grey: #5A5A5A;
$color-caribbean-green: #00BC98;
$color-charcoal: #343741;
$color-dark: #21232A;
$color-bright-grey: #3F434D;
$color-thunder: #292B35;
$color-rock-blue: #8AB0C6;
$color-ruby-red: #F10B21;
$color-dark-orange: #FF8C00;
$color-lightning-yellow: #FFBA33;
$color-aquablu-shade: #59d3bc17;
$color-platinum: #E3EAEA;
$color-milk-white: #fafbfc;
$color-nickel-gray: #C2C3C6;
$color-desert-storm: #f5f7f7;
$color-gun-metal: #2f323b;
$color-ship-grey: #373b45;
$color-dark-green: #1E2026;
$color-dark-grey: #22242c;
$color-pale-grey: #FDFDFD;
$color-porselain: #EBF2F2;
$color-mid-grey: #555963;
$color-comet-grey: #565B61;
$color-darkmint-green: #5f6b72;
$color-mercury: #DFE6E7;
$color-rangoon-green: #1B1D22;